#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FecharVsky
Comment=FecharVsky
Exec=/etc/Suporte/mataVsky.sh
Icon=waiting
Terminal=false
Type=Application
Name[en_US]=FecharVsky
Name[pt_BR]=FecharVsky

